html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding-bottom: 400px;
  background-color: #ccc;
}

p {
  margin: 0;
}

figure {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

ul,
ol,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  border: 0;
  padding: 0;
  cursor: pointer;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}

cite {
  font-style: normal;
}

fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 400;
  src: url("./../font/SF-Pro-Text-Regular.woff2") format("woff2"), url("./../font/SF-Pro-Text-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 700;
  src: url("./../font/SF-Pro-Text-Bold.woff2") format("woff2"), url("./../font/SF-Pro-Text-Bold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 600;
  src: url("./../font/SF-Pro-Text-Semibold.woff2") format("woff2"), url("./../font/SF-Pro-Text-Semibold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 500;
  src: url("./../font/SF-Pro-Text-Medium.woff2") format("woff2"), url("./../font/SF-Pro-Text-Medium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "SF Pro Rounded";
  font-style: normal;
  font-weight: 600;
  src: url("./../font/SF-Pro-Rounded-Semibold.woff2") format("woff2"), url("./../font/SF-Pro-Rounded-Semibold.woff") format("woff");
  font-display: swap;
}
:root {
  --main-blue: #0297d4;
  --dark: #131515;
  --yellow: #ffcd00;
  --font-family: "SF Pro Text", sans-serif;
  --second-family: "SF Pro Rounded", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  font-optical-sizing: auto;
  color: var(--dark);
  background-color: #f3f6f9;
  padding-bottom: 600px;
}

.container {
  margin: 0 auto;
  max-width: 1430px;
  width: 100%;
  padding: 0 15px;
}

a1 {
  opacity: 0.9;
  transition: opacity 0.2s ease-in-out, text-shadow 0.2s ease-in-out;
}
a1:hover {
  opacity: 1;
  text-shadow: 0 0 4px #d795ff;
}

.visually-hidden {
  /* Contain text within 1px box */
  height: 1px;
  overflow: hidden;
  width: 1px;
  /* Keep the layout */
  position: absolute;
  /* Remove any visible trace (e.g. background color) */
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%); /* browsers in the future */
  /* Prevent the screen reader to skip spaces between words */
  white-space: nowrap;
}

.none {
  display: none !important;
}

.no-scroll {
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0px 100px;
  margin-bottom: 14px;
}
@media screen and (max-width: 1400px) {
  .header {
    padding: 0px 50px;
  }
}
@media screen and (max-width: 992px) {
  .header {
    padding: 0px 15px;
  }
}

.header__logo {
  width: 112px;
  height: 112px;
  overflow: hidden;
}
.header__logo img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 576px) {
  .header__logo {
    width: 64px;
    height: 64px;
  }
}

.header__nav {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 576px) {
  .header__nav a.header__button {
    display: none;
  }
}

.header__menu {
  display: flex;
  align-items: center;
  gap: min(78px, 24px + 54 * (100vw - 360px) / 1560);
  margin-right: min(135px, 24px + 111 * (100vw - 360px) / 1560);
  font-size: min(20px, 16px + 4 * (100vw - 360px) / 1560);
  text-transform: uppercase;
  text-wrap: nowrap;
}
@media screen and (max-width: 768px) {
  .header__menu {
    display: none;
  }
}

.header__cta-button {
  border-radius: 50px;
  padding: 16px 36px;
  width: 335px;
  height: 56px;
  background: var(--main-blue);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: min(20px, 16px + 4 * (100vw - 360px) / 1560);
  text-transform: uppercase;
  color: #fff;
}

.hero__content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  max-width: 1920px;
  height: 142px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("./../images/header/banner.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: max(24px, min(50px, 24px + (50 - 24) * (100vw - 360px) / (1920 - 360)));
  color: #fff;
}
.hero__title .hero__link {
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #6ad3ff;
}
@media screen and (max-width: 768px) {
  .hero__title {
    -webkit-hyphens: auto;
            hyphens: auto;
    padding: 0px 15px;
  }
}

.hero__img {
  overflow: hidden;
  max-width: 210px;
  width: 100%;
}
.hero__img img {
  width: inherit;
}

.services {
  padding-top: min(94px, 24px + 70 * (100vw - 360px) / 1560);
  margin: 0px 15px;
  margin-bottom: max(24px, min(80px, 24px + (80 - 24) * (100vw - 360px) / (1920 - 360)));
}

.services__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 60px;
}

.service-card {
  border-radius: 20px;
  padding: 40px 48px;
  max-width: 1400px;
  width: 100%;
  box-shadow: 2px 2px 10px 2px rgba(39, 52, 58, 0.15);
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 28px;
}
@media screen and (max-width: 768px) {
  .service-card {
    padding: 20px 28px;
  }
}

.service-card__title {
  font-weight: 700;
  font-size: 32px;
}

.service-card__wrapper {
  display: flex;
  justify-content: center;
  gap: 28px;
}
.service-card__wrapper .service-card__img {
  overflow: hidden;
  border-radius: 10px;
  max-width: 414px;
  width: 100%;
  max-height: 328px;
  height: 100%;
  border: 1px solid darkblue;
}
.service-card__wrapper .service-card__img img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.service-card__wrapper .service-card__info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 498px;
  width: 100%;
}
.service-card__wrapper .service-card__info .service-card__info-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  border-radius: 10px;
  padding: 16px 20px;
  width: 100%;
  background-color: #f2f4f8;
}
.service-card__wrapper .service-card__info .service-card__info-item p {
  font-size: min(20px, 14px + 6 * (100vw - 360px) / 1560);
  color: #777;
  -webkit-hyphens: auto;
          hyphens: auto;
}
.service-card__wrapper .service-card__info .service-card__info-item p + p {
  font-weight: 700;
}
.service-card__wrapper .service-card__link {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.service-card__wrapper .service-card__link > a:first-child {
  margin-bottom: 12px;
}
.service-card__wrapper .service-card__link .card__link-button img {
  display: inline-block;
  vertical-align: middle;
}
.service-card__wrapper .service-card__link .card__link-button span {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  color: var(--main-blue);
  letter-spacing: -1px;
}
.service-card__wrapper .service-card__link .card__link-button span + br + span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: var(--main-blue);
}
.service-card__wrapper .service-card__link .service-card__adr {
  max-width: 100%;
  margin: 21.5px 0px;
  border-radius: 10px;
  padding: 16px 20px;
  width: 336px;
  height: 92px;
  background: #fff5cc;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: min(20px, 16px + 4 * (100vw - 360px) / 1560);
  color: #777;
  text-align: left;
}
.service-card__wrapper .service-card__link .service-card__adr br + span {
  font-family: var(--font-family);
  color: #1b1e1f;
}
@media screen and (max-width: 1400px) {
  .service-card__wrapper {
    flex-wrap: wrap;
    align-items: center;
  }
  .service-card__wrapper .service-card__img {
    order: 1;
  }
  .service-card__wrapper .service-card__info {
    order: 3;
    max-width: 62%;
  }
  .service-card__wrapper .service-card__link {
    order: 2;
  }
}
@media screen and (max-width: 992px) {
  .service-card__wrapper .service-card__img {
    order: 1;
  }
  .service-card__wrapper .service-card__info {
    order: 2;
  }
  .service-card__wrapper .service-card__link {
    order: 3;
  }
}
@media screen and (max-width: 768px) {
  .service-card__wrapper .service-card__info {
    max-width: 100%;
  }
}

.service-card__description {
  font-weight: 400;
  font-size: min(20px, 16px + 4 * (100vw - 360px) / 1560);
}

.service-card__pag {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: min(18px, 14px + 4 * (100vw - 360px) / 1560);
}
.service-card__pag .service-card__pag-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--main-blue);
  border-radius: 6px;
  padding: 10px;
  width: 52px;
  height: 52px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: min(26px, 18px + 8 * (100vw - 360px) / 1560);
  text-transform: uppercase;
  text-align: center;
  color: var(--main-blue);
}
.service-card__pag .active {
  color: #fff;
  background: var(--main-blue);
}

.how-to {
  padding-bottom: max(24px, min(68px, 24px + (68 - 24) * (100vw - 360px) / (1920 - 360)));
}

.how-to__content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: max(16px, min(38px, 16px + (38 - 16) * (100vw - 360px) / (1920 - 360)));
  padding: 0 16px;
  max-width: 1920px;
  height: 142px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("./../images/header/banner.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.how-to__title {
  margin-right: 90px;
  font-weight: 700;
  font-size: max(24px, min(40px, 24px + (40 - 24) * (100vw - 360px) / (1920 - 360)));
  color: #fff;
}
.how-to__title .hero__link {
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #6ad3ff;
}
@media screen and (max-width: 992px) {
  .how-to__title {
    display: none;
  }
}

.how-to__img {
  overflow: hidden;
  max-width: 210px;
  width: 100%;
}
.how-to__img img {
  width: inherit;
}
@media screen and (max-width: 576px) {
  .how-to__img {
    display: none;
  }
}

.call-tow {
  padding-top: max(24px, min(100px, 24px + (100 - 24) * (100vw - 360px) / (1920 - 360)));
  display: flex;
  justify-content: center;
  gap: 16px;
}
.call-tow .call-tow__box {
  display: flex;
  flex-direction: column;
  max-width: 698px;
  width: 100%;
}
.call-tow .call-tow__box .call-tow__title {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: max(24px, min(48px, 24px + (48 - 24) * (100vw - 360px) / (1920 - 360)));
}
.call-tow .call-tow__box .call-tow__desc {
  font-size: 26px;
  line-height: 1.3;
}
.call-tow .call-tow__box .call-tow__desc:not(:last-child) {
  margin-bottom: 1lh;
}
.call-tow .call-tow__img {
  overflow: hidden;
  max-width: 677px;
  width: 100%;
}
.call-tow .call-tow__img img {
  width: inherit;
}
@media screen and (max-width: 1400px) {
  .call-tow {
    flex-wrap: wrap;
  }
}

.steps {
  padding-top: max(24px, min(100px, 24px + (100 - 24) * (100vw - 360px) / (1920 - 360)));
  padding-bottom: max(24px, min(100px, 24px + (100 - 24) * (100vw - 360px) / (1920 - 360)));
  background-color: #fff5cc;
}

.steps__title {
  font-weight: 700;
  font-size: max(24px, min(40px, 24px + (40 - 24) * (100vw - 360px) / (1920 - 360)));
  margin-bottom: max(24px, min(55px, 24px + (55 - 24) * (100vw - 360px) / (1920 - 360)));
}

.steps__list {
  display: flex;
  gap: max(20px, min(40px, 20px + (40 - 20) * (100vw - 360px) / (1920 - 360)));
}
.steps__list .steps__item {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.steps__list .steps__icon1 {
  display: block;
  margin: 0 auto;
  max-width: 347px;
  width: 100%;
}
.steps__list .steps__icon2 {
  display: block;
  margin: 0 auto;
  max-width: 320px;
  width: 100%;
}
.steps__list .steps__text {
  font-size: max(18px, min(26px, 18px + (26 - 18) * (100vw - 360px) / (1920 - 360)));
}
@media screen and (max-width: 1400px) {
  .steps__list {
    flex-wrap: wrap;
  }
}

.what-inside {
  padding-top: max(24px, min(100px, 24px + (100 - 24) * (100vw - 360px) / (1920 - 360)));
  padding-bottom: max(24px, min(100px, 24px + (100 - 24) * (100vw - 360px) / (1920 - 360)));
}

.what-inside__title {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 48px;
}

.what-inside__desc {
  font-weight: 400;
  font-size: 26px;
}

.what-inside__text {
  font-weight: 700;
  font-size: 26px;
}

.what-inside__box {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
@media screen and (max-width: 1400px) {
  .what-inside__box {
    flex-wrap: wrap;
    row-gap: 92px;
  }
}

.truck,
.mileage,
.repair,
.difficulty {
  position: relative;
  width: 332px;
  height: 271px;
  background-color: #0297d4;
  border-radius: 20px;
  padding: 34px 32px 0px 32px;
  line-height: 1.2;
}
.truck .truck__title,
.truck .mileage__title,
.truck .repair__title,
.truck .difficulty__title,
.mileage .truck__title,
.mileage .mileage__title,
.mileage .repair__title,
.mileage .difficulty__title,
.repair .truck__title,
.repair .mileage__title,
.repair .repair__title,
.repair .difficulty__title,
.difficulty .truck__title,
.difficulty .mileage__title,
.difficulty .repair__title,
.difficulty .difficulty__title {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #fff;
  margin-bottom: 17px;
}
.truck .truck__text,
.truck .mileage__text,
.truck .repair__text,
.truck .difficulty__text,
.mileage .truck__text,
.mileage .mileage__text,
.mileage .repair__text,
.mileage .difficulty__text,
.repair .truck__text,
.repair .mileage__text,
.repair .repair__text,
.repair .difficulty__text,
.difficulty .truck__text,
.difficulty .mileage__text,
.difficulty .repair__text,
.difficulty .difficulty__text {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #fff;
  word-wrap: break-word;
}

.truck::before,
.mileage::before,
.repair::before,
.difficulty::before {
  content: "";
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
  width: 140px;
  height: 72px;
  background-color: #0297d4;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
}

.truck::after {
  content: url("./../images/what-inside/truck.webp");
  display: block;
  position: absolute;
  top: -16px;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
}

.mileage::after {
  content: url("./../images/what-inside/mileage.webp");
  display: block;
  position: absolute;
  top: -16px;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
}

.repair::after {
  content: url("./../images/what-inside/repair.webp");
  display: block;
  position: absolute;
  top: -16px;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
}

.difficulty::after {
  content: url("./../images/what-inside/difficulty.webp");
  display: block;
  position: absolute;
  top: -16px;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
}

.btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: max(16px, min(20px, 16px + (20 - 16) * (100vw - 360px) / (1920 - 360)));
  color: #fff;
  text-wrap: nowrap;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  border-radius: 50px;
  padding: 16px 36px;
  max-width: 335px;
  width: 100%;
  background-color: var(--main-blue);
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}
.btn:hover {
  opacity: 0.8;
}
.btn:active {
  opacity: 1;
  background: #077aa9;
}

.btn.btn--transparent {
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--main-blue);
  border-radius: 50px;
  padding: 6px 36px 10px;
  max-width: 336px;
}/*# sourceMappingURL=main.css.map */