.evacuators {
    @include resp(padding-bottom, 24, 100);
}

.evacuators__title {
    margin-bottom: 1lh;
}

.evacuators__description {
    margin-bottom: 1lh;
}

.evacuators__subtitle {
    margin-bottom: 3rem;
}

.evacuators__types {
    // height: 682px;
    .evacuator-card {
        display: flex;
        flex-direction: column;
        gap: 20px;

        border-radius: 20px;
        @include resp(padding, 20, 40);
        width: 684px;
        height: 100%;

        box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);

        .evacuator-card__image {
            overflow: hidden;
            max-width: 604px;
            width: 100%;
            margin: 0 auto;

            img {
                display: block;
                width: inherit;
            }
        }
    }
}

//  slider
.slider-wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.swiper {
    width: 100%;
    padding-bottom: 3rem;

    @include breakpoint(tab) {
        padding-bottom: 2rem;
    }
}

.slider-wrapper .myslider-next::after,
.slider-wrapper .myslider-prev::after {
    font-size: 30px;
    color: var(--main-blue);

    border: 1px solid var(--main-blue);
    border-radius: 6px;
    padding: 10px 20px;
}

.myslider-prev,
.myslider-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;

    @include breakpoint(lg) {
        display: none;
    }
}

.myslider-prev {
    left: -70px;

    @include breakpoint(tab) {
        left: 54px;
    }
}

.myslider-next {
    right: -70px;

    @include breakpoint(tab) {
        right: 54px;
    }
}

.swiper .swiper-pagination {
    bottom: 0px;
}

.swiper .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
}
