.footer {
    background-color: #586c75;
    padding: 20px 0;
    position: relative;
    // overflow: hidden;
}

.arrow-up {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, -130%);

    @include breakpoint(md) {
        transform: translate(-20%, 20%);
    }

    width: 44px;
    aspect-ratio: 1;
    border: 1px solid var(--main-blue);
    border-radius: 8px;
    background-color: #fff;
    @include no-tap-highlight;

    filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.2));

    &::before {
        content: url("./../images/sprite.svg#arrow-up");
        display: block;
        width: 16px;
        height: 26px;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    overflow: hidden;

    // align-items: center;
    // max-width: 1200px;
    // margin: 0 auto;

    @include breakpoint(tab) {
        gap: 20px;
        padding: 0px 32px 0px 20px;
        justify-content: center;
        margin: 0 auto;
    }

    @include breakpoint(sm) {
        flex-direction: column-reverse;
        gap: 10px;
        padding: 10px 10px 20px 10px;
    }
}

.footer__logo {
    width: 112px;
    aspect-ratio: 1;
    overflow: hidden;
    flex-shrink: 0;

    margin: 41px 0px 81px 0px;

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    @include breakpoint(sm) {
        width: 64px;
        height: 64px;
    }

    @include breakpoint(sm) {
        // margin: 0px 0px 0px 0px;
        margin: 0 auto;
    }
}

.footer__nav {
    display: flex;
    margin-top: 92px;
    @include breakpoint(sm) {
        margin-top: 0px;
    }
}

.footer__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

    @include breakpoint(tab) {
        flex-wrap: wrap;
    }

    @include breakpoint(sm) {
        flex-direction: column;
    }

    .footer__item {
        margin-right: toRemResp(20, 63);

        &:last-child {
            margin-right: 0;
        }

        @include breakpoint(sm) {
            margin-right: 0;
            margin-bottom: 12px;
        }

        a {
            position: relative;
            font-family: var(--font-family);
            font-weight: 400;
            font-size: toRemResp(14, 16);
            text-transform: uppercase;
            color: #fff;
            text-decoration: none;
        }

        a::before {
            content: "";
            position: absolute;
            bottom: -0.3rem;
            right: 0;
            width: 0%;
            height: 0.12rem;
            background-color: var(--main-blue);
            transition: 0.3s linear;
        }

        a:hover::before {
            left: 0;
            width: 100%;
        }
    }
}

// .footer__link {
//     font-family: var(--font-family);
//     font-weight: 400;
//     font-size: toRemResp(14, 16);
//     text-transform: uppercase;
//     color: #fff;
//     text-decoration: none;
// }

// .footer__link:hover {
//     text-decoration: underline;
// }
