.hero {
    margin-top: toRemResp(96, 142);
    scroll-margin-top: toRemResp(96, 142);
}

.hero__content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    // position: relative;
    max-width: 1920px;
    height: 142px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("./../images/header/banner.webp");
    // background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero__title {
    font-family: var(--font-family);
    font-weight: 700;
    @include responsive-font-size(24, 50);
    color: #fff;

    .hero__link {
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #6ad3ff;
    }

    @include breakpoint(md) {
        hyphens: auto;
        padding: 0px 15px;
    }
}

.hero__img {
    overflow: hidden;
    max-width: 210px;
    width: 100%;

    img {
        width: inherit;
    }
}
