.how-to {
    @include resp(padding-bottom, 24, 68);
}

.how-to__content {
    display: flex;
    align-items: center;
    justify-content: center;
    @include gap(16, 38);
    padding: 0 16px;
    // position: relative;
    max-width: 1920px;
    height: 142px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("./../images/header/banner.webp");
    // background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.how-to__title {
    margin-right: 90px;
    font-weight: 700;
    @include font-size(24, 40);
    color: #fff;
    // letter-spacing: 3px;

    .hero__link {
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #6ad3ff;
    }

    @include breakpoint(lg) {
        display: none;
    }
}

.how-to__img {
    overflow: hidden;
    max-width: 210px;
    width: 100%;

    img {
        width: inherit;
    }

    @include breakpoint(sm) {
        display: none;
    }
}

.call-tow {
    @include resp(padding-top, 24, 100);
    display: flex;
    justify-content: center;
    gap: 16px;

    .call-tow__box {
        display: flex;
        // align-items: center;
        // justify-content: center;
        flex-direction: column;
        max-width: 698px;
        width: 100%;

        .call-tow__title {
            font-weight: 700;
            font-size: 40px;
            @include margin-bottom(24, 48);
        }

        .call-tow__desc {
            font-size: 26px;
            line-height: 1.3;

            &:not(:last-child) {
                margin-bottom: 1lh;
            }
        }
    }

    .call-tow__img {
        overflow: hidden;
        max-width: 677px;
        width: 100%;

        img {
            width: inherit;
        }
    }

    @include breakpoint(tab) {
        flex-wrap: wrap;
    }
}
