.menu {
    display: none;
    overflow: hidden;
    border-bottom-left-radius: 20px;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.header__burger-btn {
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    outline: none;
    z-index: 99;
    cursor: pointer;
    @include breakpoint(md) {
        margin-right: 10px;
    }
    @include breakpoint(sm) {
        margin-right: 0px;
    }
}

.header__burger-btn span {
    display: block;
    position: absolute;
    width: 30px;
    height: 3px;
    left: 5px;
    background-color: black;
    transition: background-color 0.3s, opacity 0.3s, transform 0.5s;
    will-change: transform;
}

.header__burger-btn:hover span {
    background-color: rgb(103, 103, 103);
}

.header__burger-btn span:nth-child(1) {
    transform: translateY(-10px);
}

// .header__burger-btn span:nth-child(2) {}

.header__burger-btn span:nth-child(3) {
    transform: translateY(10px);
}

// Крестик
.header.open .header__burger-btn span {
    background-color: white;
}

.header.open .header__burger-btn span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
}

.header.open .header__burger-btn span:nth-child(2) {
    opacity: 0;
}

.header.open .header__burger-btn span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
}

.menu__list {
    display: none;
    align-items: left;
    padding-top: 2rem;

    .menu__item:not(:last-child) {
        margin-bottom: 1.6rem;
    }

    .menu__item a {
        display: block;
        position: relative;

        font-family: var(--font-family);
        font-weight: 400;
        font-size: 20px;
        text-transform: capitalize;
        // text-transform: uppercase;
        color: #fff;

        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .menu__item a::before {
        content: "";
        position: absolute;
        bottom: -0.3rem;
        right: 0;
        width: 0%;
        height: 0.1rem;
        background-color: #fff;
        transition: 0.3s linear;
    }

    .menu__item a:hover::before {
        left: 0;
        width: 100%;
    }
}

@include breakpoint(md) {
    .header__burger-btn {
        display: block;
    }

    .menu {
        display: block;
        position: absolute;
        top: -330px;
        right: 0;
        width: 300px;
        padding: 56px 20px 30px 30px;
        background-color: var(--main-blue);
        // visibility: hidden;
        transition: transform 0.5s, visibility 0.5s;
        will-change: transform;
    }

    .menu__list {
        display: flex;
        flex-direction: column;
    }

    .menu__item:not(:last-child) {
        margin-right: 0;
    }

    .header.open .menu {
        transform: translateY(130%);
        visibility: visible;
    }
}
