.h2-text {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: toRemResp(32, 40);
    color: var(--dark);
}

.h3-text {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: toRemResp(20, 26);
    color: var(--dark);
}

.p-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: toRemResp(20, 26);
    color: var(--dark);
}

.card-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: toRemResp(18, 20);
    color: var(--dark);
}

.card-desc {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: toRemResp(16, 20);
    color: var(--dark);
}
