// Breakpoint	        Class infix	    Dimensions
// X-Small	            None	        <576px
// Small	            sm	            ≥576px
// Medium	            md	            ≥768px
// Large	            lg	            ≥992px
// Extra large	        xl	            ≥1200px
// Extra extra large	xxl	            ≥1400px

// @include breakpoint (md) {
//     flex: 0 0 100%;
// }

@mixin breakpoint($point) {
    @if $point==base {
        @media screen and (min-width: 1920px) {
            @content;
        }
    } @else if $point==tab {
        @media screen and (max-width: 1400px) {
            @content;
        }
    } @else if $point==lg {
        @media screen and (max-width: 992px) {
            @content;
        }
    } @else if $point==md {
        @media screen and (max-width: 768px) {
            @content;
        }
    } @else if $point==sm {
        @media screen and (max-width: 576px) {
            @content;
        }
    } @else if $point==xsm {
        @media screen and (max-width: 500px) {
            @content;
        }
    }
}

@mixin no-tap-highlight {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

@mixin responsive-font-size(
    //  @include responsive-font-size(24, 50);
    $min-size,
    $max-size,
    $min-width: 360,
    $max-width: 1920
) {
    font-size: max(
        #{$min-size}px,
        min(
            #{$max-size}px,
            calc(
                #{$min-size}px + (#{$max-size} - #{$min-size}) *
                    (
                        (100vw - #{$min-width}px) /
                            (#{$max-width} - #{$min-width})
                    )
            )
        )
    );
}
//  -------
@mixin font-size(
    //  @include font-size(24, 50);
    $min-size,
    $max-size,
    $min-width: 360,
    $max-width: 1920
) {
    font-size: max(
        #{$min-size}px,
        min(
            #{$max-size}px,
            calc(
                #{$min-size}px + (#{$max-size} - #{$min-size}) *
                    (
                        (100vw - #{$min-width}px) /
                            (#{$max-width} - #{$min-width})
                    )
            )
        )
    );
}

//  -------
@mixin gap(
    //  @include gap(24, 50);
    $min-size,
    $max-size,
    $min-width: 360,
    $max-width: 1920
) {
    gap: max(
        #{$min-size}px,
        min(
            #{$max-size}px,
            calc(
                #{$min-size}px + (#{$max-size} - #{$min-size}) *
                    (
                        (100vw - #{$min-width}px) /
                            (#{$max-width} - #{$min-width})
                    )
            )
        )
    );
}

//  -------
@mixin margin-bottom(
    //  @include margin-bottom(24, 100);
    $min-size,
    $max-size,
    $min-width: 360,
    $max-width: 1920
) {
    margin-bottom: max(
        #{$min-size}px,
        min(
            #{$max-size}px,
            calc(
                #{$min-size}px + (#{$max-size} - #{$min-size}) *
                    (
                        (100vw - #{$min-width}px) /
                            (#{$max-width} - #{$min-width})
                    )
            )
        )
    );
}

@mixin resp(
    //  @include resp(padding-top, 24, 100);
    $property,
    $min-size,
    $max-size,
    $min-width: 360,
    $max-width: 1920
) {
    #{$property}: max(
        #{$min-size}px,
        min(
            #{$max-size}px,
            calc(
                #{$min-size}px + (#{$max-size} - #{$min-size}) *
                    (
                        (100vw - #{$min-width}px) /
                            (#{$max-width} - #{$min-width})
                    )
            )
        )
    );
}
