// Breakpoint	        Class infix	    Dimensions
// X-Small	            None	        <576px
// Small	            sm	            ≥576px
// Medium	            md	            ≥768px
// Large	            lg	            ≥992px
// Extra large	        xl	            ≥1200px
// Extra extra large	xxl	            ≥1400px

// @include breakpoint (md) {
//     flex: 0 0 100%;
// }

@mixin breakpoint($point) {
    @if $point==base {
        @media screen and (min-width: 1920px) {
            @content;
        }
    } @else if $point==tab {
        @media screen and (max-width: 1400px) {
            @content;
        }
    } @else if $point==lg {
        @media screen and (max-width: 992px) {
            @content;
        }
    } @else if $point==md {
        @media screen and (max-width: 768px) {
            @content;
        }
    } @else if $point==sm {
        @media screen and (max-width: 576px) {
            @content;
        }
    } @else if $point==xsm {
        @media screen and (max-width: 500px) {
            @content;
        }
    }
}

@mixin no-tap-highlight {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

@mixin responsive-font-size(
    //  @include responsive-font-size(24, 50);
    $min-size,
    $max-size,
    $min-width: 360,
    $max-width: 1920
) {
    font-size: max(
        #{$min-size}px,
        min(
            #{$max-size}px,
            calc(
                #{$min-size}px + (#{$max-size} - #{$min-size}) *
                    (
                        (100vw - #{$min-width}px) /
                            (#{$max-width} - #{$min-width})
                    )
            )
        )
    );
}
//  -------
@mixin font-size(
    //  @include font-size(24, 50);
    $min-size,
    $max-size,
    $min-width: 360,
    $max-width: 1920
) {
    font-size: max(
        #{$min-size}px,
        min(
            #{$max-size}px,
            calc(
                #{$min-size}px + (#{$max-size} - #{$min-size}) *
                    (
                        (100vw - #{$min-width}px) /
                            (#{$max-width} - #{$min-width})
                    )
            )
        )
    );
}

//  -------
@mixin gap(
    //  @include gap(24, 50);
    $min-size,
    $max-size,
    $min-width: 360,
    $max-width: 1920
) {
    gap: max(
        #{$min-size}px,
        min(
            #{$max-size}px,
            calc(
                #{$min-size}px + (#{$max-size} - #{$min-size}) *
                    (
                        (100vw - #{$min-width}px) /
                            (#{$max-width} - #{$min-width})
                    )
            )
        )
    );
}

//  -------
@mixin margin-bottom(
    //  @include margin-bottom(24, 100);
    $min-size,
    $max-size,
    $min-width: 360,
    $max-width: 1920
) {
    margin-bottom: max(
        #{$min-size}px,
        min(
            #{$max-size}px,
            calc(
                #{$min-size}px + (#{$max-size} - #{$min-size}) *
                    (
                        (100vw - #{$min-width}px) /
                            (#{$max-width} - #{$min-width})
                    )
            )
        )
    );
}

@mixin resp(
    //  @include resp(padding-top, 24, 100);
    $property,
    $min-size,
    $max-size,
    $min-width: 360,
    $max-width: 1920
) {
    #{$property}: max(
        #{$min-size}px,
        min(
            #{$max-size}px,
            calc(
                #{$min-size}px + (#{$max-size} - #{$min-size}) *
                    (
                        (100vw - #{$min-width}px) /
                            (#{$max-width} - #{$min-width})
                    )
            )
        )
    );
}

@function toRem($value) {
    $remValue: ($value / 16) + rem;
    @return $remValue;
}

@function toRemResp($min-size, $max-size) {
    $max-width: 1920;
    $min-width: 360;
    $min-width-rem: calc($min-width / 16) + rem;
    $min-rem: calc($min-size / 16) + rem;
    $max-rem: calc($max-size / 16) + rem;
    $calcValue: calc(($max-size / 16) - ($min-size / 16));

    $vwValue: calc(100vw - $min-width-rem);
    $decValue: calc(($max-width - $min-width) / 16);
    $DivScreen: calc($vwValue / $decValue);

    $remValue: max(
        $min-rem,
        min($max-rem, calc($min-rem + $calcValue * $DivScreen))
    );
    @return $remValue;
}

// font-size: max(1rem, min(2rem, 1rem + 1 * (100vw - 22.5rem) / 97.5));
// $fz-16-20: min(20px, calc(16px + (20 - 16) * ((100vw - 360px) / (1920 - 360))));

// @function resp3($min-size, $max-size) {
//     $min-width: 360;
//     $min-width-rem: calc($min-width / 16) + rem;
//     $max-width: 1920;
//     $min-rem: calc($min-size / 16) + rem;
//     $max-rem: calc($max-size / 16) + rem;

//     $calcValue: calc(($max-size / 16) - ($min-size / 16));
//     $vwValue: calc(100vw - $min-width-rem);
//     $decValue: calc(pxtoRem($max-width - $min-width));

//     $remValue: max(
//         $min-rem,
//         min($max-rem, calc($min-rem + $calcValue * ($vwValue / $decValue)))
//     );
//     @return $remValue;
// }
